
<form method="post" action="">
    <label for="post_title">{{ __('Name') }}</label>
    <input type="text" id="post_title" name="post_title" value="{{ gallery.post_title }}" />

    <label for="post_content">{{ __('Description') }}</label>
    <textarea id="post_content" name="post_content">{{ gallery.post_content }}</textarea>

    <label for="meta_css">{{ __('Custom CSS to include') }}</label>
    <textarea id="meta_css" name="meta_css">{{ gallery.meta_css }}</textarea>

    <input type="hidden" name="edit" value="{{ edit }}" />
    {{ nonce | raw }}
    {{ submit_button | raw }}
</form>
