{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<form name="gallery" method="post" action="">
    <input type="hidden" id="edit_id" name="edit" value="{{ edit }}" />
    <input type="hidden" id="images_hash" name="images_hash" value="{{ images_hash }}" />
    <input type="hidden" id="images_iframe_base" name="images_iframe_base" value="{{ images_iframe_src }}" />
    <input type="hidden" id="images_per_page" name="images_per_page" value="{{ images_per_page }}" />
    <input type="hidden" id="image_iframe_edit_base" name="image_iframe_edit_base" value="{{ image_edit_src }}" />
    <input type="hidden" id="image_del_is_perm" name="image_del_is_perm" value="{{ image_del_is_perm }}" />
    {{ nonce | raw }}
    {{ nonce_meta_order | raw }}
    {{ nonce_meta_clsd | raw }}

    <div id="poststuff" {% if not is_wp34 %}class="metabox-holder {{ has_right_sidebar }}"{% endif %}>
        {% if not is_wp34 %}
        <div id="side-info-column" class="inner-sidebar">
            {{ meta_boxes_side | raw }}
        </div>
        {% endif %}

        <div id="post-body" {% if is_wp34 %}class="metabox-holder {{ has_right_sidebar }}"{% endif %}>
            <div id="post-body-content">
                <div id="titlediv">
                    <div id="titlewrap">
                        <label class="hide-if-no-js" style="visibility:hidden" id="title-prompt-text" for="title">{{ __('Enter title here') }}</label>
                        <input id="title" type="text" autocomplete="off" value="{{ gallery.post_title }}" tabindex="1" size="30" name="post_title" />
                    </div>
                </div>

                <div id="imagediv" class="postarea">
                    <div id="editor-toolbar" class="hide-if-no-js">
                        <div id="imagediv_nav" class="tablenav">
                             <div class="tablenav-pages"></div>
                        </div>
                        <div id="media-buttons">
                            {{ __('Upload/Insert') }}
                            {% for button in media_buttons %}
                            <a href="{{ button.url }}" id="add_{{ button.id }}" class="thickbox" title="{{ button.title }}"><img src="{{ button.icon }}" alt="{{ button.title }}" onclick="return false;" /></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="image_editor_container" class="wp-editor-container">
                        <div id="quicktags" class="quicktags-toolbar">
                            <div id="ed_toolbar" class="img_ed_buttons">
                                {{ __('Image Selection: ') }}
                                <a id="ed_move_l_selected" href="#" class="button" accesskey="[" title="{{ __('Move the selected images to the left') }}"><i></i>{{ __('Move Left') }}</a>
                                <a id="ed_move_r_selected" href="#" class="button" accesskey="]" title="{{ __('Move the selected images to the right') }}">{{ __('Move Right') }} <i></i></a>
                                &nbsp;
                                <a id="ed_delete_selected" href="#" class="button" accesskey="l" title="{{ __('Permanently delete the selected images') }}"><i></i> {{ __('Delete') }}</a>
                                <a id="ed_remove_selected" href="#" class="button" accesskey="v" title="{{ __('Remove (detach) the images from the Image Set') }}"><i></i> {{ __('Remove') }}</a>
                                &nbsp;
                                <a id="ed_clear_selected" href="#" class="button" accesskey="c" title="{{ __('Clear the selection') }}">{{ __('Clear') }}</a>
                            </div>
                        </div>
                        <div id="editorcontainer">
                            <div id="image_iframe_overlay">
                                <div id="overlay"></div>
                                <div id="loader">
                                    <img src="{{ img_large_loader }}" alt="{{ __('Loading') }}..." />
                                </div>
                            </div>
                            <iframe id="images_iframe" src="{{ images_iframe_src }}" tabindex="2"></iframe>
                        </div>
                    </div>
                    <table id="post-status-info">
                        <tbody>
                            <tr>
                                <td id="wp-word-count">
                                    {{ __('Image count') }}: <span id="image-count">{{ images_count }}</span>
                                    <span id="selected-count">(<span id="select-count">0</span> {{ __('selected') }})</span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {% if not is_wp34 %}
                {{ meta_boxes_main | raw }}
                {% endif %}
            </div> {# /post-body-content #}

            {% if is_wp34 %}
            <div id="postbox-container-1" class="postbox-container">{{ meta_boxes_side | raw }}</div>
            <div id="postbox-container-2" class="postbox-container">{{ meta_boxes_main | raw }}</div>
            {% endif %}
        </div> {# /post-body #}
        <br class="clear" />
    </div> {# /post-stuff #}
</form>

<script type="text/javascript">
//<![CDATA[
try{document.gallery.title.focus();}catch(e){}
//]]>
</script>
