{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<div id="photo_nav" class="tablenav hide-if-js">
    <div id="photo_upload_html">
        <form action="" method="post" enctype="multipart/form-data">
            {{ nonce | raw }}
            <label class="screen-reader-text" for="upload_file">{{ __('Add Photo') }}</label>
            <input type="file" name="upload_file" id="upload_file /">
            <input type="submit" name="upload" id="upload" class="button" value="{{ __('Add Photo') }}" />
        </form>
    </div>
    <div id="photo_nav_page_links" class="tablenav-pages">{{ page_links | raw }}</div>
</div>

<div id="photo_container">
    {% for photo in photos %}
    <div id="photo_{{ photo.ID }}" class="photo">
        <img src="{{ photo.thumb.0 }}" alt="{{ photo.meta_alt }}" title="{% if photo.post_excerpt %}{{ photo.post_excerpt }}{% else %}{{ photo.post_name }}{% endif %}" />
    </div>
    {% endfor %}
</div>

<div id="photo_buttons">
    <a href="" id="photo_edit_button" title="{{ __('Edit Photo') }}" accesskey="e"><img id="photo_edit_img_button" class="photo_img_button" src="{{ photo_edit_img }}" alt="{{ __('Edit Photo') }}" /></a>
    <a href="" id="photo_del_button" title="{{ __('Delete Photo') }}" accesskey="d"><img id="photo_del_img_button" class="photo_img_button" src="{{ photo_delete_img }}" alt="{{ __('Delete Photo') }}" /></a>
</div>

<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($){
    mainWin = window.dialogArguments || opener || parent || top;
    mainWin.myatu_bgm.onPhotosIframeFinish({{ current_page }});
});
//]]>
</script>
