{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% if not run_import %}
<form method="post" action="">
    {{ nonce | raw }}
    {% for importer_key, importer_value in importers %}
    <input type="hidden" id="{{ importer_key }}_desc" name="{{ importer_key }}_desc" value="{{ importer_value.desc }}" />
    {% endfor %}
    
    <table class="form-table">
        <tbody>
            <tr valign="top">
                <th scope="row">
                    <label for="importer">{{ __('Import using') }}</label>
                </th>
                <td>
                    <select id="importer" class="postform" name="importer{% if show_pre_import %}_disabled{% endif %}" {% if show_pre_import %}disabled="disabled"{% endif %}>
                        <option value="">-- {{ __('Select an importer') }} --</option>
                        {% for importer_key, importer_value in importers %}
                        <option value="{{ importer_key }}" {% if not importer_value.active %}disabled="disabled"{% endif %} {% if importer == importer_key %}selected="selected"{% endif %}>{{ importer_value.name }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <span id="importer_desc" class="description"></span>
                </td>
            </tr>
        </tbody>
    </table>

    {% if show_pre_import %}
    <input type="hidden" name="importer" value="{{ importer }}" />
    
    {{ pre_import | raw }}
    {% endif %}

    {{ submit_button | raw }}
</form>
{% else %}
<table class="form-table">
    <tbody>
        <tr valign="top">
            <th scope="row">
                {{ __('Import progress:') }}
            </th>
            <td>
                <div id="import_progress_bar_container" style="display:none;">
                    <div id="import_progress_bar"></div>
                </div>
                <span id="import_progress" class="hide-if-no-js">0%</span>

                <iframe id="import_job" src="{{ import_job_src }}" class="hide-if-js"></iframe>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}




