{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<p id="custom_css_desc">
    <label for="custom_css">
        {{ __('You can provide an additional Custom Stylesheet (CSS) that will only be loaded when this Image Set is active.') }}
        {{ __('As an example, this could be used to match the colors of the ') }}<em>{{ theme_name }}</em>{{ __(' theme with those of the images.') }}
    </label>
</p>
<textarea id="custom_css" name="custom_css" class="code" rows="10" cols="200" style="width:100%;" tabindex="3" wrap="off">{{ custom_css }}</textarea>

