{#
    Copyright (c) 2011-2012 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<div id="tagsdiv-post_tag" style="border-bottom:1px solid #dfdfdf;padding-bottom:10px;">
    <p>
        {{ __('Override the default Image Set, or the one specified in an individual post, with this Image Set if a post contains one or more of the selected tags:') }}
    </p>

    <div class="tagsdiv" id="post_tag">
        <div class="nojs-tags hide-if-js">
            <p>
                Add or remove tags
            </p>
            <textarea name="tax_input[post_tag]" rows="3" cols="20" class="the-tags" id="tax-input-post_tag" >{{ tags }}</textarea>
        </div>
        <div class="ajaxtag hide-if-no-js">
            <p>
                <input type="text" id="new-tag-post_tag" name="newtag[post_tag]" class="newtag form-input-tip" size="16" autocomplete="off" value="" />
                <input type="button" class="button tagadd" value="Add" />
            </p>
        </div>

        <p class="howto">Separate tags with commas</p>

        <div class="tagchecklist"></div>
    </div>
</div>

<div id="overlaytagdiv" style="border-top:1px solid #fff;">
    <p>
        {{ __('Optionally override the overlay:') }}
    </p>

    <select id="overlay_tag_override" class="postform" name="overlay_tag_override">
        {% for overlay in overlays %}
        <option {% if overlay.selected %}selected="selected"{% endif %} value="{{ overlay.value }}">{{ overlay.desc }}</option>
        {% endfor %}
    </select>
</div>

