{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<!-- Background Manager Start -->
{% spaceless %}

{# ------ Background Link (will be deleted by JS) ------ #}
{% if random_image.bg_link %}<a id="myatu_bgm_bg_link" class="myatu_bgm_fs" href="{{ random_image.bg_link }}"></a>{% endif %}

{# ------ Overlay ------ #}
{% if has_overlay %}<div id="myatu_bgm_overlay" class="myatu_bgm_fs"></div>{% endif %}

{# ------ Full-size Image ------ #}
{% if is_fullsize %}
<div id="myatu_bgm_img_group" class="myatu_bgm_fs" style="overflow: hidden;">
    <script type="text/javascript">
    /*<![CDATA[*/
    {# UNCOMPRESSED:
    try {
        (function($){
            myatu_bgm.addTopImage(
                "{% if opacity < 100 %}-moz-opacity:.{{ opacity }};filter:alpha(opacity={{ opacity }});opacity:.{{ opacity }};{% endif %}",
                function() {
                    // Either fade in or display immediately
                    if ((typeof myatu_bgm !== "undefined") && (myatu_bgm.initial_ease_in === "true")) {
                        $(this).fadeIn("slow");
                    } else {
                        $(this).show();
                    }
                }
            );
        }(jQuery));
    } catch(e) {}
    #}
    try{(function(a){myatu_bgm.addTopImage("{% if opacity < 100 %}-moz-opacity:.{{ opacity }};filter:alpha(opacity={{ opacity }});opacity:.{{ opacity }};{% endif %}",function(){if((typeof myatu_bgm!=="undefined")&&(myatu_bgm.initial_ease_in==="true")){a(this).fadeIn("slow")}else{a(this).show()}})}(jQuery))}catch(e){};
    /*]]>*/
    </script>
    <noscript><img id="myatu_bgm_top" class="myatu_bgm_fs" src="{{ random_image.url }}" alt="{{ random_image.alt }}" {% if opacity < 100 %}style="-moz-opacity:.{{ opacity }}; filter:alpha(opacity={{ opacity }}); opacity:.{{ opacity }};"{% endif %}  /></noscript>
</div>
{% endif %}


{# ------ "Pin It" button ------ #}
{% if has_pin_it_btn %}
<div id="myatu_bgm_pin_it_btn" class="myatu_bgm_info_blk">

<script type="text/javascript">
/*<![CDATA[*/
{# UNCOMPRESSED, modified original from Pinterest:
(function() {
    window.PinIt = window.PinIt || { loaded : false };

    if (window.PinIt.loaded) { return; }

    window.PinIt.loaded = true;

    function async_load(){
        var s = document.createElement("script"), x = document.getElementsByTagName("script")[0];
        s.src   = "//assets.pinterest.com/js/pinit.js";
        s.type  = "text/javascript";
        s.async = true;
        x.parentNode.insertBefore(s, x);
    }
    if (window.attachEvent) {
        window.attachEvent("onload", async_load);
    } else {
        window.addEventListener("load", async_load, false);
    }
}());
#}
(function(){window.PinIt=window.PinIt||{loaded:false};if(window.PinIt.loaded){return}window.PinIt.loaded=true;function a(){var c=document.createElement("script"),b=document.getElementsByTagName("script")[0];c.src="//assets.pinterest.com/js/pinit.js";c.type="text/javascript";c.async=true;b.parentNode.insertBefore(c,b)}if(window.attachEvent){window.attachEvent("onload",a)}else{window.addEventListener("load",a,false)}}());
/*]]>*/
</script>
    <a href="http://pinterest.com/pin/create/button/?url={{ permalink | url_encode }}&media={{ random_image.url | url_encode }}&description={{ random_image.desc | striptags | url_encode }}" class="pin-it-button" count-layout="none">Pin It</a>
</div>
{% endif %}


{# ------ Info Tab ------ #}
{% if has_info_tab %}
<div id="myatu_bgm_info">
    <div id="myatu_bgm_info_tab" class="myatu_bgm_info_blk">
        {% if info_tab_link %}
            <a href="{{ random_image.link }}">[ + ]</a>
        {% else %}
            [ + ]
        {% endif %}
    </div>
</div>
{% endif %}

{% endspaceless %}

<!-- Background Manager End -->
