{#
    Copyright (c) 2011 Mike Green <myatus@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<!-- Background Manager Start -->
{% spaceless %}

{# ------ Background Link (will be deleted by JS) ------ #}
{% if random_image.bg_link %}<a id="myatu_bgm_bg_link" class="myatu_bgm_fs" href="{{ random_image.bg_link }}"></a>{% endif %}

{# ------ Overlay ------ #}
{% if has_overlay %}<div id="myatu_bgm_overlay" class="myatu_bgm_fs"></div>{% endif %}


{# ------ Full-size Image ------ #}
{% if is_fullsize %}
<script type="text/javascript">
/*<![CDATA[*/
{# UNCOMPRESSED:
try {
    (function($){
        myatu_bgm.NewTopImage(
            "{% if opacity < 100 %}-moz-opacity:.{{ opacity }};filter:alpha(opacity={{ opacity }});opacity:.{{ opacity }};{% endif %}",
            "{{ random_image.alt }}",
            "{{ random_image.url }}",
            function() {
                // Re-adjust image size to browser window
                myatu_bgm.AdjustImageSize();

                // Swap 'visibility' with 'display'
                $(this).css({'display':'none','visibility':''});

                // Either fade in or display immediately
                if ((background_manager_vars !== undefined) && (background_manager_vars.initial_ease_in == "true")) {
                    $(this).fadeIn('slow');
                } else {
                    $(this).show();
                }
            }
        );
    })(jQuery);
} catch(e) {};
#}
try{(function(a){myatu_bgm.NewTopImage("{% if opacity < 100 %}-moz-opacity:.{{ opacity }};filter:alpha(opacity={{ opacity }});opacity:.{{ opacity }};{% endif %}","{{ random_image.alt }}","{{ random_image.url }}",function(){myatu_bgm.AdjustImageSize();a(this).css({display:"none",visibility:""});if((background_manager_vars!==undefined)&&(background_manager_vars.initial_ease_in=="true")){a(this).fadeIn("slow")}else{a(this).show()}})})(jQuery)}catch(e){};
/*]]>*/
</script>
<noscript><img id="myatu_bgm_top" class="myatu_bgm_fs" src="{{ random_image.url }}" alt="{{ random_image.alt }}" {% if opacity < 100 %}style="-moz-opacity:.{{ opacity }}; filter:alpha(opacity={{ opacity }}); opacity:.{{ opacity }};"{% endif %}  /></noscript>
{% endif %}


{# ------ "Pin It" button ------ #}
{% if has_pin_it_btn %}
<div id="myatu_bgm_pin_it_btn" class="myatu_bgm_info_blk">

<script type="text/javascript">
/*<![CDATA[*/
{# UNCOMPRESSED:
(function() {
    window.PinIt = window.PinIt || { loaded:false };
    if (window.PinIt.loaded) return;
    window.PinIt.loaded = true;
    function async_load(){
        var s = document.createElement("script"), l = "assets.pinterest.com/js/pinit.js";
        s.type = "text/javascript";
        s.async = true;
        if (window.location.protocol == "https:")
            s.src = "https://" + l;
        else
            s.src = "http://" + l;
        var x = document.getElementsByTagName("script")[0];
        x.parentNode.insertBefore(s, x);
    }
    if (window.attachEvent)
        window.attachEvent("onload", async_load);
    else
        window.addEventListener("load", async_load, false);
})();
#}
(function(){window.PinIt=window.PinIt||{loaded:false};if(window.PinIt.loaded){return}window.PinIt.loaded=true;function a(){var d=document.createElement("script"),c="assets.pinterest.com/js/pinit.js";d.type="text/javascript";d.async=true;if(window.location.protocol=="https:"){d.src="https://"+c}else{d.src="http://"+c}var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(d,b)}if(window.attachEvent){window.attachEvent("onload",a)}else{window.addEventListener("load",a,false)}})();
/*]]>*/
</script>

    <a href="http://pinterest.com/pin/create/button/?url={{ permalink | url_encode }}&media={{ random_image.url | url_encode }}&description={{ random_image.desc | striptags | url_encode }}" class="pin-it-button" count-layout="none">Pin It</a>
</div>
{% endif %}


{# ------ Info Tab ------ #}
{% if has_info_tab %}
<div id="myatu_bgm_info">
    <div id="myatu_bgm_info_tab" class="myatu_bgm_info_blk">
        {% if info_tab_link %}
            <a href="{{ random_image.link }}">[ + ]</a>
        {% else %}
            [ + ]
        {% endif %}
    </div>

{% if info_tab_desc %}
    <div class="myatu_bgm_info_tab_content" style="display:none">
        {% if info_tab_thumb %}
            <img src="{{ random_image.thumb }}" alt="{{ random_image.alt }}" />
        {% endif %}

        <h3>{{ random_image.caption }}</h3>
        <div class="myatu_bgm_info_tab_desc">
            {{ random_image.desc | raw }}
        </div>
    </div>
{% endif %}
</div>
{% endif %}

{% endspaceless %}

<!-- Background Manager End -->
